@model PierresTreats.Models.Treat

@using PierresTreats.Models;

<h2>Pierre's Treat Details</h2>

<h3>@Model.TreatName</h3>

<h4>Flavors:</h4>

@if (@Model.JoinEntities.Count == 0)
{
  @if (Model.JoinEntities.Count == 0)
  {
    <p>No flavors have been added to this treat yet.</p>
  }
}
else
{

  @foreach (FlavorTreat join in Model.JoinEntities)
  {
    <h5>@Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</h5>
    @using (Html.BeginForm("Delete", "FlavorTreats", new { id = join.FlavorTreatId }, FormMethod.Post))
    {
      <input type="submit" value="Remove" />
    }
  }
}

<button>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</button>
<button>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId })</button>
<button>@Html.ActionLink("Add another Flavor", "Create")</button>
<button>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</button>
<button>@Html.ActionLink("Back to List", "Index")</button>