@model PierresTreats.Models.Flavor

<h2>Add Treat</h2>


<h3>Add a treat to @Model.FlavorName</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Selete a Treat: ")
  @Html.DropDownList("TreatId")
  <br/>
  <input type="submit" value="Add Treat" class="button"/>
}

<button>@Html.ActionLink("Back to Treats", "Index")</button>